# General
node_modules/
vendor/
.DS_Store
Thumbs.db
*.log
nul

# Environments
.env
.env.*
!.env.example
.env.local

# Backend (Laravel)
backend/public/build/
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/storage/pail/
backend/.phpunit.cache/
backend/.phpunit.result.cache
backend/Homestead.json
backend/Homestead.yaml
backend/auth.json
backend/.phpactor.json
backend/storage/
frontend/public/uploads/
*.mp4
*.jpg
*.png
*.jpeg
backend/storage/*
!backend/storage/app/public/
!backend/storage/app/public/.gitignore

# Frontend (Next.js)
frontend/.next/
frontend/out/
frontend/build/
frontend/dist/
frontend/coverage/
frontend/tsconfig.tsbuildinfo
frontend/public/uploads/
*.mp4
*.mov
*.zip

# IDEs / Editors
.idea/
.vscode/
.fleet/
.nova/
.zed/
